* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.divBuscador {
	 margin-top: 30px;
	 margin-bottom: 30px;
}

#resultadosBusqueda {
	 margin-top: 30px;
	 margin-bottom: 30px;
}

.card {
	border: hidden;
	margin-bottom:50px;
}

#anadirLibro{
	margin-top: 20px;
	margin-bottom: 20px
}
